<nav class="bottom_nav" aria-label="Main navigation">

  <a class="nav_link" href="home.html">
    <img src="resources/assets/icons/home.svg" alt="home icon">
    <span>Home</span>
  </a>

  <a class="nav_link" href="goals.html">
     <img src="resources/assets/icons/goal.svg" alt="home icon">
    <span>Goals</span>
  </a>

  <a class="nav_link" href="family.html">
     <img src="resources/assets/icons/family.svg" alt="home icon">
    <span>Family</span>
  </a>

  <a class="nav_link" href="stats.html">
     <img src="resources/assets/icons/stats.svg" alt="home icon">
    <span>Stats</span>
  </a>

  