<header class="top_nav">
    <div class="top_nav_left">
        <a href="home.html"class="brand_logo">Ready Set Dinner</a>
    </div>

    <nav class="top_nav_center" aria-label="Desktop navigation">
        <a class="desktop_nav_link"href="home.html">Home</a>
        <a class="desktop_nav_link"href="goals.html">Goals</a>
        <a class="desktop_nav_link" href="family.html">Family</a>
        <a class="desktop_nav_link" href="stats.html">Stats</a>
    </nav>

    <div class="top_nav_right">
        <button id="logout_button" class="logout_button">Log out</button>
    </div>
</header>